.book-detail-dialog-content {
  display: table;
}

.mat-form-field-outlined {
  margin-top: 1em;
  display: table;
}

.mat-form-field-medium {
  width: 30vw;
}

.mat-form-field-large {
  width: 55vw;
}

.mat-hint-as-err {
  color: var(--mdc-theme-error, #f44336);
}