<!-- Toolbar -->
<mat-toolbar color="primary">

  <button mat-icon-button disabled>
    <mat-icon color="accent">book</mat-icon>
  </button>

  <span class="toolbar-title">{{ title }}</span>

  <!-- Tabs -->
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let link of links; index as i"
      [routerLink]="links[i].slug"
      (click)="activeLink = links[i].slug"
      [active]="activeLink === link.slug"
      [ngClass]="{'selected': activeLink === link.slug}"
    >
      {{ links[i].label }}
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

</mat-toolbar>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
